@model FinancialAccounting.Models.Contractors.ContractorViewModel

@{
    ViewBag.Title = "Изменение подрядчика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left:5px;text-align:right;float:right;">
            @Html.ActionLink("Удалить подрядчика", "CreateContractor", "DataManagement", routeValues: new { @contractorId = 2 }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("UpdateContractor", "DataManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить изменения" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}