@model FinancialAccounting.Models.Contractors.ContractorPaymentsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left: 5px;text-align: right; float: right;">
            @Html.ActionLink("Обновить подрядчика", "UpdateContractor", "Building", routeValues: new { @contractorId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <h3 style="margin-left: 5px;text-align: right; float: right;">
            @Html.ActionLink("Провести платёж", "CreatePayment", "Payments", routeValues: new { @contractorId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        @if (ViewBag.ShowPlannedPaymentsButton)
        {
            <h3 style="margin-left: 5px;text-align: right; float: right;">
                @Html.ActionLink("Провести плановый платёж", "CreatePlannedPayment", "Payments", routeValues: new { @contractorId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
            </h3>
        }
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 style="text-align:left;">@ViewBag.LastUpdate</h3>
    </div>
    <div class="col-md-12">
        @Html.DisplayFor(m => m.Description)
    </div>
    <hr style="clear:both;" />
</div>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th style="text-align: center;">Всего по договору</th>
                <th style="text-align: center;">Безналичная оплата</th>
                <th style="text-align: center;">Наличная оплата</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th style="text-align: center;">Сумма по договору</th>
                            <th style="text-align: center;">Оплачено по договору</th>
                            <th style="text-align: center;">Осталось оплатить</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">@Model.PaymentsSummary.SummByContract.ToString("C0")</td>
                            <td style="text-align: center;">@Model.PaymentsSummary.PayedByContract.ToString("C0")</td>
                            <td style="text-align: center;">@Model.PaymentsSummary.NeedToPayByContract.ToString("C0")</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th style="text-align: center;">Сумма по договору</th>
                            <th style="text-align: center;">Оплачено по договору</th>
                            <th style="text-align: center;">Осталось оплатить</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">@Model.PaymentsSummary.InCashlessSummByContract.ToString("C0")</td>
                            <td style="text-align: center;">@Model.PaymentsSummary.InCashlessPayedByContract.ToString("C0")</td>
                            <td style="text-align: center;">@Model.PaymentsSummary.InCashlessNeedToPayByContract.ToString("C0")</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th style="text-align: center;">Сумма по договору</th>
                            <th style="text-align: center;">Оплачено по договору</th>
                            <th style="text-align: center;">Осталось оплатить</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">@Model.PaymentsSummary.InCashSummByContract.ToString("C0")</td>
                            <td style="text-align: center;">@Model.PaymentsSummary.InCashPayedByContract.ToString("C0")</td>
                            <td style="text-align: center;">@Model.PaymentsSummary.InCashNeedToPayByContract.ToString("C0")</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr style="clear:both;" />
    </div>

    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <th style="text-align: center;">Наименование платежа</th>
                    <th style="text-align: center;">Сумма платежа</th>
                    <th style="text-align: center;">Тип платежа</th>
                    <th style="text-align: center;">Дата</th>
                    <th style="text-align: center;">Исполнитель</th>
                </tr>
                @foreach (var payment in Model.Payments)
                {
                    <tr>
                        <td style="text-align: center;">@payment.Name</td>
                        <td style="text-align: center;">@payment.Summ</td>
                        <td style="text-align: center;">@payment.Type</td>
                        <td style="text-align: center;">@payment.Date</td>
                        <td style="text-align: center;">@payment.Executor</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

