@model FinancialAccounting.Models.Payments.CreateStageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datepicker")
}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateStage", "Stages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.IsInCash)
            <div class="form-group">
                @Html.LabelFor(m => m.ContractorId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ContractorId, Model.ContractorsSelect.Select(ms => new SelectListItem
                    {
                        Text = ms.Value,
                        Value = ms.Key.ToString(),
                        Selected = ms.Key == Model.ContractorId
                    }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsInCash, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.IsInCash, Model.Types.Select(ms => new SelectListItem
                    {
                        Text = ms.Value,
                        Value = ms.Key.ToString(),
                        Selected = Model.IsInCash
                    }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Prepayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Prepayment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfPrepayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfPrepayment, new { @class = "form-control", @id = "DateOfPrepaymentPicker" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FinalPayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FinalPayment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfFinalPayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfFinalPayment, new { @class = "form-control", @id = "DateOfFinalPaymentPicker" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfEnding, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfEnding, new { @class = "form-control", @id = "DateOfEndingPicker" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Создать этап" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
