@model FinancialAccounting.Models.Payments.CreateStageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/stageCreation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        SetDataToPicker("@Model.DateOfPrepayment", "@Model.DateOfFinalPayment", "@Model.DateOfEnding" );
    });

</script>

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left: 5px;text-align: right; float: right;">
            @Html.ActionLink("Удалить этап", "RemoveStage", "Stages", routeValues: new { @stageId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("UpdateStage", "Stages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ContractorId)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PrepaymentPayed)
            @Html.HiddenFor(m => m.FinalPaymentPayed)
            @Html.HiddenFor(m => m.TotalPayed)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
             <div class="form-group">
                @Html.LabelFor(m => m.IsInCash, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.IsInCash, Model.Types.Select(ms => new SelectListItem
                    {
                        Text = ms.Value,
                        Value = ms.Key.ToString(),
                        Selected = Model.IsInCash
                    }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Prepayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Prepayment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfPrepayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfPrepayment, new { @class = "form-control", @id = "DateOfPrepaymentPicker" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FinalPayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FinalPayment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfFinalPayment, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfFinalPayment, new { @class = "form-control", @id = "DateOfFinalPaymentPicker" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateOfEnding, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DateOfEnding, new { @class = "form-control", @id = "DateOfEndingPicker" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Обновить этап" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
