@model FinancialAccounting.Models.Contractors.ContractorViewModel

@{
    ViewBag.Title = string.Format("Платежи подрядчика '{0}'", Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left: 5px;text-align: right; float: right;">
            @Html.ActionLink("Редактировать описание подрядчика", "UpdateContractor", "Building", routeValues: new { @contractorId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <h3 style="margin-left:5px;text-align:right;float:right;">
            @Html.ActionLink("Провести платёж", "CreatePaymentForContractor", "Building", routeValues: new { @contractorId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>Описание подрядчика</th>
                <th>Платежи</th>
            </tr>
            <tr>
                <td style="width: 40%">
                    <table>
                        <tr>
                            <td style="width: 20%">
                                @Html.LabelFor(m => m.ContractNumbers, new { @class = "col-md-2 control-label" })
                            </td>
                            <td style="width: 80%">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.ContractNumbers, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.ContractDescriptions, new { @class = "col-md-2 control-label" })
                            </td>
                            <td>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.ContractDescriptions, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.PaymentDay, new { @class = "col-md-2 control-label" })
                            </td>
                            <td>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.PaymentDay, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.TimingOfWorks, new { @class = "col-md-2 control-label" })
                            </td>
                            <td>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.TimingOfWorks, new { @class = "form-control", @readonly = "true" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 60%"></td>
            </tr>
        </table>
    </div>
</div>

