@model FinancialAccounting.Models.Biuldings.BuildingViewModel

@{
    ViewBag.Title = "Создать объект";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
<hr style="clear:both;" />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateObject", "Building", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить объект" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
