@model FinancialAccounting.Models.Buildings.ManageBuildingViewModel
@{
    ViewBag.Title = string.Format("Управление объектом '{0}'", Model.BuildingMainInfo.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:left;float:left;">@ViewBag.Title</h2>
        <h3 style="margin-left: 5px;text-align: right; float: right;">
            @Html.ActionLink("Редактировать описание объекта", "UpdateObject", "Building", routeValues: new { @buildingId = Model.BuildingMainInfo.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <h3 style="margin-left:5px;text-align:right;float:right;">
            @Html.ActionLink("Добавить подрядчика", "CreateContractorForObject", "Building", routeValues: new { @buildingId = Model.BuildingMainInfo.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </h3>
        <hr style="clear:both;" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(m => m.BuildingMainInfo.Description)
    </div>
    <hr style="clear:both;" />
</div>

<div class="row">
    <table >
        <tr>
            <th style="text-align:center;">Название подрядчика</th>
            <th style="text-align:center;">Наличные рассчёты</th>
            <th style="text-align:center;">Безналичные рассчёты</th>
            <th style="text-align:center;">Дата платежа</th>
        </tr>
        <tr>
            <td></td>
            <td>
                <table style="text-align:center;">
                    <tr>
                        <td style="width: 33%; font-weight: bold;">Всего должны</td>
                        <td style="width: 33%; font-weight: bold;">Оплачено</td>
                        <td style="width: 33%; font-weight: bold;">Остаток</td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="text-align:center;">
                    <tr>
                        <td style="width: 33%; font-weight: bold;">Всего должны</td>
                        <td style="width: 33%; font-weight: bold;">Оплачено</td>
                        <td style="width: 33%; font-weight: bold;">Остаток</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        @foreach (var contractor in @Model.Contractors)
        {
            <tr style="border-collapse: separate; border-spacing: 0 5px;">
                <td>
                    @Html.ActionLink(contractor.Name, "ContractorPayments", "Payments", routeValues: new { @contractorId = contractor.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
                <td>
                    <table style="text-align:center;">
                        <tr>
                            <td>@Html.ActionLink("123.000.00", "Index", "Payments", routeValues: new { @contractorId = contractor.Id, @isInCash = true }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                            <td>@Html.ActionLink("123.000.00", "Index", "Payments", routeValues: new { @contractorId = contractor.Id, @isInCash = true }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                            <td>@Html.ActionLink("123.000.00", "Index", "Payments", routeValues: new { @contractorId = contractor.Id, @isInCash = true }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="text-align:center;">
                        <tr>
                            <td>@Html.ActionLink("456.000.00", "Index", "Payments", routeValues: new { @contractorId = contractor.Id, @isInCash = true }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                            <td>@Html.ActionLink("456.000.00", "Index", "Payments", routeValues: new { @contractorId = contractor.Id, @isInCash = true }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                            <td>@Html.ActionLink("456.000.00", "Index", "Payments", routeValues: new { @contractorId = contractor.Id, @isInCash = true }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <label style="background-color: red;">Статус даты платежа</label>
                </td>
            </tr>
        }
        <tr>
            <td><b>Итого:</b></td>
            <td> 517.000.00 </td>
            <td> 614.000.00</td>
            <td></td>
        </tr>
    </table>
    <hr style="clear:both;" />
</div>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <td><b>Осталось заплатить:</b></td>
                <td>11.200.000.00</td>
            </tr>
            <tr>
                <td><b>Всего уплачено:</b></td>
                <td>100.200.000.00</td>
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

